@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section javascript{
    <script src="~/js/Login/index.js"></script>
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Login</h1>
            </div>
        </div>
    </div>
</div>

<div class="content-novo card">
    <p>
        A dica é<br/>
        <b>User</b> adm<br/>
        <b>Senha</b> 123
    </p>

    <form method="post" action="/Login/Logar">
        <div class="form-group">
            <label>Login</label>
            <input type="text" name="login" value="" id="login" />
        </div>
        
        <div class="form-group">
            <label>Senha</label>
            <input type="password" name="senha" value="" id="senha" />
        </div>
        
        <div class="form-group">
            <input type="button" name="botaoLogar" value="Logar" onclick="index.login()" />
            <a class="botao" href="/cadastrar">Cadastrar</a>
        </div>
    </form>

    <div class="errors" style="color: red" id="errors">
        @ViewBag.Msg
    </div>
</div>